body{

    font-family: Arial, Helvetica, sans-serif;
    background: url('../images/background.jpg');
    background-attachment: fixed ;
    background-size: 100% 100%;
    margin: 0px;
}
/* Styling the todo main container */
#todo-container{
    margin-left: 18vw;
    margin-top: 10vh;
    width: 40vw;
    height: auto;
    display: flex;
    box-shadow: 1px 1px 50px 5px rgb(243, 239, 239);
    justify-content: center;
    border-radius: 30px;
    background-color: rgb(183, 210, 215);
}
#All{
    width: 100%;
    height: 100%;
    
}
/* Styling the heading */
#heading-div{
    display: flex;
    border-bottom: 1px solid rgb(137, 134, 134);
    align-items: center;
    justify-content: center;
}

#heading{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-left: 3%;
}
#heading-div img{
    width: 50px;
    height: 50px;
}

/* Styling the input bar */
.input{
    width: 100%;
    border-bottom: 1px solid rgb(137, 134, 134);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.input h2{
    margin-left: 3%;
}
.input input{
    outline: none;
    border: none;
    background: transparent;
    margin-bottom: 3%;
    margin-left: 3%;
}

.inputbar::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
}


/* styling category calss */
.category{
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgb(137, 134, 134);
}
/* Styling the Category Div */
#cat{
    width: 50%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1%;
}

#cat select{
    outline: none;
    border: none;
    background: transparent;
    margin-bottom: 7%;
}

/* Styling due date div */

#duedate{
    border-left: 1px solid rgb(137, 134, 134);
    width: 50%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 5px; */
    padding: 1%;
}
#duedate input{
    margin-top: 3%;
    width: 50%;
    outline: none;
    border: none;
    background: transparent;
}

/* Styling the add and delete buttons */
.btns{
    display: flex;
    /* margin-top: 25px; */
    border-bottom: rgb(137, 134, 134);
    justify-content: space-evenly;
    padding: 10px;
}

.btns button{
    padding: 10px;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 25%;
    min-height: 20%;
    outline: none;
    border: none;
    border-radius: 20px;
    
}

/* Styling the button images */
.btns button img{
    width: 30px;
    height: 30px;
    background-color: white;
}

#addBtn{
    background-color: rgb(16, 76, 98);
    color: white;
}

#delID{
    background-color: rgb(239, 20, 9);
    color: white;
}

/* Styling the category based buttons which display the task according to category */
.show-cat-wise{
    border-bottom: 1px solid rgb(137, 134, 134);
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.show-cat-wise button{
    background: transparent;
    /* color: white; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 15px;
}

.show-cat-wise button:hover{
    box-shadow: 2px 2px 6px 2px brown;
    transition: 1s;
}

/* Styling the list container */
.list-container{
    display: flex;
    align-items: center;
    border: none;
}
.list-container ul{
    width: 100%;
    height: auto;
    list-style: none;
}
/* Styling the entire list container */
ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    padding: 1%;
    border-radius: 20px;
}
ul li:hover{
    box-shadow: 2px 2px 6px 2px brown;
    transition: 1s;
}

.date-task{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Styling each task category in the list */
#list-cat{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 0px;
    min-width: 20%;
    height: 50px;
}

#list-cat:hover{
    box-shadow: 1px 1px 1px 1px brown;
    transition: 1s;
}

/* Styling checkbox  to differentiate the finished task*/
.checkbox:checked + label.checkbox-label{
    text-decoration: line-through;
    color: rgb(15, 15, 15);
}
